<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External Stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- MedNet Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/Styles/Login.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Feedback.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/PatientOverview.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Logout.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Shared.css" />


    <title>MedNet | @ViewData["Title"]</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <img class="mednet-logo" src="~/theme/images/MedNetLogo.png" style="float: left; width: 200px;" />
        @RenderSection("NavButtons", required: false)
    </div>

    @RenderBody()

    <div class="footer">
        <p>
            <b>Version</b> 0.0.1
            <strong>Copyright LifeBlocks &copy; 2020 MedNet.</strong>
        </p>
    </div>



    <script>
        function resizeFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
