<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
    <title>MedNet | @ViewData["Title"]</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/Home/PatientLookUp" class="plu">Patient Look-Up</a>
        <a href="/Home/RecentPatients" class="rp">Recent Patients</a>
        <a href="/Home/Logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="resizeFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="card">
        @RenderBody()
    </div>

    <div class="footer">
        <p>
            <b>Version</b> 0.0.1
            <strong>Copyright LifeBlocks &copy; 2020 MedNet.</strong>
            <br /><a href="/Home/Feedback">Submit Feedback</a>
        </p>
    </div>

    @RenderSection("Scripts", required: false)

    <script>function resizeFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }</script>

</body>
</html>
