@{
    ViewData["Title"] = "Logout";
}

@section NavButtons {
    <a href="/Home" class="topnav-home">Home</a>
}

<div class="logout-page">
    <div class="form">
        <div class="heading">
            <p>You have successfully logged out.</p>
        </div>
    </div>
</div>