@{
    ViewData["Title"] = "Logout";
}

@section NavButtons {
    <!-- L to R -->
    <a href="/Home" class="topnav-lbtn topnav-first">Home</a>
}

<body>
    <div class="jumbotron text-center" style="background:transparent !important">
        <br />
        <h1>You have successfully logged out.</h1>
        <div class="card-body">
            <p class="card-text">To go back to MedNet Homepage, please click below.</p>
            <a href="/Home" class="btn btn-success">Home</a>
        </div>
    </div>
</body>
