@{
    ViewData["Title"] = "Logout";
}

@section NavButtons {
    <a href="/Home" class="topnav-lbtn topnav-first">Home</a>

    <a href="javascript:void(0);" class="icon" onclick="resizeFunction()">
        <i class="fa fa-bars"></i>
    </a>
}

<div class="logout-page">
    <div class="form">
        <div class="heading">
            <p>You have successfully logged out.</p>
        </div>
    </div>
</div>