@model PatientLookupViewModel
@{
    ViewData["Title"] = "Patient Look Up";
}

@section NavButtons {
    <!-- L to R -->
    <a href="Home" class="topnav-lbtn topnav-first">Home</a>
    <a href="PatientLookUp" class="active topnav-lbtn">Search Patient</a>
    <a href="PatientSignUp" class="topnav-lbtn">Register Patient</a>

    <!-- R to L-->
    <a href="Logout" class="topnav-rbtn">Logout</a>
}

<body>
    <div class="content-full">
        <div class="login-form">
            <div class="login-header">
                <h2>Patient Look Up</h2>
                <p>Enter the patient's information</p>
            </div>
            @Html.ValidationSummary(true)
            <form asp-action="PatientLookUp" method="post" style="text-align: left;">
                <label>Patient PHN:</label>
                <div class="tooltip">
                    <span class="tooltiptext">10-digit Personal Health Number can be found on the patient's CareCard/BC Services Card</span>
                </div>
                @Html.TextBoxFor(n => n.PHN, new { id = "patient-look-up-PHN", placeholder = "####-###-####", title = "10 digit Personal Health Record Number." })
                @Html.ValidationMessageFor(n => n.PHN)
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>


    <script type="text/javascript">
        jQuery(function ($) {
            $("#patient-look-up-PHN").inputmask("9999-999-999");
        });</script>
</body>




