@model RequestAccessViewModel
@{
    ViewData["Title"] = "Request Access";
}

@section NavButtons {
    <!-- L to R -->
    <a href="Home" class="active">Home</a>
    <a href="PatientLookUp">Search Patient</a>
    <a href="PatientSignUp">Register Patient</a>
    <!-- R to L-->
    <a href="Logout" style="float:right">Logout</a>
    <a href="Home" style="float:right">@ViewBag.DoctorName</a>
}

<div class="content-full">
    <div class="login-form">
        <div class="login-header">
            <h2>Request Access</h2>
            <p>Enter the patient's information</p>
        </div>
        @Html.ValidationSummary(true)
        <form asp-action="RequestAccess" method="post" style="text-align: left;">
            <label>Patient Keyword:</label>
            <div class="tooltip">
                <span class="tooltiptext">Patient's identification key phrase.</span>
            </div>
            @Html.TextBoxFor(n => n.keyword, new { placeholder = "Keyword", title = "Identification Key Phrase Here" })
            @Html.ValidationMessageFor(n => n.keyword)
            <button type="submit">Authorize with Fingerprint</button>
        </form>
    </div>
</div>

<script type="text/javascript">

</script>



