@{
    ViewData["Title"] = "Home Page";
}

<div class="doc-forget-password-page">
    <div class="form">
        <div class="heading">
            <p>Forgot your password?</p>
        </div>
        <p>Enter your details below to retreive password.</p>
        <form class="text-form">
            <label>Email:</label>
            <input type="text" id="email" name="email" placeholder="Email" />
            <div class="tooltip">
                <label>Doctor MINC:</label>
                <span class="tooltiptext">12 digit Medical Identification Number for Canada</span>
            </div>
            <input type="text" id="minc" name="minc" placeholder="CAXX-XXXX-XXXX" title="12 digit Medical Identification Number for Canada" />
            <div class="tooltip">
                <label>Doctor Keyword:</label>
                <span class="tooltiptext">Identification pass phrase created during Sign-Up.</span>
            </div>
            <input type="text" id="keyword" name="keyword" placeholder="Keyword" title="Identification pass phrase created during Sign-Up." />
            <button onclick="displayMessage()">Change Password</button><br />
            <p id='message'></p>
        </form>
    </div>
</div>

<script type="text/javascript">function displayMessage() {
        document.getElementById('message').innerHTML = 'Check your email for intstructions on how to reset your password.';
    }
</script>