@model DoctorHomeViewModel
@{
    ViewData["Title"] = "Doctor Home";
}

@section NavButtons {
    <!-- L to R -->
    <a href="Home" class="active topnav-lbtn topnav-first">Home</a>
    <a href="PatientLookUp" class="topnav-lbtn">Search Patient</a>
    <a href="PatientSignUp" class="topnav-lbtn">Register Patient</a>
    <!-- R to L-->
    <a href="Logout" class="topnav-rbtn">Logout</a>
}

<body>


    <div class="sidebar">
        <div class="sidebar-header">
            <h3>@ViewBag.DoctorName</h3>
        </div>
        <div class="sidebar-body">
            <p>some text</p>
        </div>
    </div>
    <div class="content">
        <h1>Doctor Home page</h1>
    </div>
</body>