﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DoctorHomeViewModel
@{
    ViewData["Title"] = "Doctor Home";
}

@section NavButtons {
    <!-- L to R -->
    <a href="Home" class="active topnav-lbtn topnav-first">Home</a>
    <a href="PatientLookUp" class="topnav-lbtn">Search Patient</a>
    <a href="PatientSignUp" class="topnav-lbtn">Register Patient</a>
    <!-- R to L-->
    <a href="Logout" class="topnav-rbtn">Logout</a>
}
<body>
    <div class="content-full">
        <h1>Doctor's Homepage</h1>
    </div>
</body> 
