@model PatientLookupViewModel
@{
    ViewData["Title"] = "Patient Look-Up";
}

@section NavButtons {
    <a href="Home" class="topnav-lbtn topnav-first">Home</a>
    <a href="PatientLookUp" class="topnav-lbtn active">Patient Look-Up</a>
    <a href="PatientSignUp" class="topnav-lbtn">New Patient Sign-Up</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <!-- <a href="/Doctors/Home" class="topnav-rbtn">Dr. @ViewBag.DoctorName</a> -->
}

<div class="content-full">
    <div class="row">
        <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h3>Patient Look-Up</h3>
                </div>
                <div class="card-body">

                    @Html.ValidationSummary(true)
                    <form asp-action="PatientLookUp" method="post">

                        <!-- PHN -->
                        <div class="form-group">
                            <label for="patientPhone">Personal Health Number</label>
                            @Html.TextBoxFor(n => n.PHN, new { id = "patient-look-up-PHN", placeholder = "####-###-###", title = "10-digit Personal Health Number", @required = "required", @class = "typeahead form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(n => n.PHN)
                            <small id="phoneHelp" class="form-text text-muted">10-digit Personal Health Number can be found on the patient's CareCard/BC Services Card</small>
                        </div>
                        <button type="submit" id="submitButton" class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Scripts/bloodhound.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#patient-look-up-PHN").inputmask("9999-999-999");
        });</script>

    <script>
        $(document).ready(function () {
            // Constructs the suggestion engine
            var patientIDs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.ngram,
                queryTokenizer: Bloodhound.tokenizers.ngram,
                matchAnyQueryToken: true,
                // The url points to a json file that contains an array of country names
                prefetch: 'getAllPatientIDs'
            });

            // Initializing the typeahead with remote dataset without highlighting
            $('.typeahead').typeahead({
                items: 4,
                source: patientIDs.ttAdapter(),
                matcher: function (item) {
                    var it = this.displayText(item).toLowerCase();
                    var query = this.query.toLowerCase();
                    it=it.replace(/-/g, '');
                    query = query.replace(/-/g, '');
                    query = query.replace(/_/g, '');
                    return ~it.indexOf(query)
                }
                });
        });
    </script>
}