/* Feedback */
.feedback-page .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #FFFFFF;
    max-width: 380px;
    padding: 10px 40px 40px 40px;
    text-align: left;
}

.feedback-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.feedback-page .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.feedback-page form.text-form {
    text-align: left;
}

.feedback-page .form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.feedback-page div.heading {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
}

.feedback-page .form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
/* end Feedback*/
