
/* Patient Overview */
/*.patient-overview {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.patient-overview .form1 {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 1;
    background: #FFFFFF;
    width: 20%;
    height: 70%;
    padding: 10px 40px 40px 40px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
    overflow: scroll;
}

.patient-overview .form2 {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(2%, -50%);
    z-index: 1;
    background: #FFFFFF;
    width: 1000px;
    height: 70%;
    padding: 10px 40px 40px 40px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
    overflow: scroll;
}

.patient-overview .form1 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ff0000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
    margin-top: 5px;
}

.patient-overview .form1 button:hover, .form button:active, .form button:focus {
    background: #e60000;
}

.patient-overview div.heading2 {
    font-size: 20px;
    line-height: 20px;
    color: #cccccc;
}

.patient-overview div.heading1 {
    font-size: 25px;
    line-height: 25px;
    color: #4CAF50;
}

.patient-overview .column1 {
    float: left;
    width: 50%;
    padding: 0px 5px 0px 0px;
    text-align: right;
    color: #cccccc;
    line-height: 5px;
}

.patient-overview .column2 {
    float: left;
    width: 40%;
    padding: 0px 0px 0px 5px;
    text-align: left;
    line-height: 5px;
}

.patient-overview .row:after {
    content: "";
    display: table;
    clear: both;
}

.patient-overview .table {
    padding: 30px 10px 30px 10px;
}

.patient-overview .tab {
    overflow: hidden;
    border-color: gainsboro;
    border-style: solid;
    border-width: medium;
    background-color: #4CAF50;
}

.patient-overview .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #FFFFFF;
}

.patient-overview .tab button.red {
    background-color: #ff0000;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #FFFFFF;
}

.patient-overview .tab button.red:hover {
    background-color: #e60000;
}

.patient-overview .tab button:hover {
    background-color: #3e8e41;
}

.patient-overview .tab button.active {
    background-color: #367c39;
}

.patient-overview .tabcontent {
    display: none;
    padding: 6px 12px;
    border-color: gainsboro;
    border-style: solid;
    border-width: medium;
    border-top: none;
    height: 540px;
    overflow: scroll;
}

.patient-overview .record {
    padding: 10px;
    border-color: gainsboro;
    border-style: solid;
    border-width: medium;
    height: 150px;
    margin: 10px;
}

/* end Patient Overview */

.btn-edit {
    bottom: 0;
    right: 20px;
    position: absolute;
}