/* addNewPatientRecord */
.add-record {
    width: 450px;
    padding: 8% 0 0;
    margin: auto;
}

.add-record .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 10px 40px 40px 40px;
    text-align: left;
    border-style: solid;
    border-width: medium;
    border-color: #ff0000;
    overflow: scroll;
}

.add-record .form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-record .form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    height: 46px;
}

.add-record #buttonSubmit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ff0000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.add-record #buttonSubmit:hover {
    background: #e60000;
}

.add-record div.heading {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.add-record .column {
    float: left;
    width: 48%;
    padding: 2px;
}

.add-record .row:after {
    content: "";
    display: table;
    clear: both;
}
/* end addNewPatientRecord */

/* doctor forget password */

.doc-forget-password-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.doc-forget-password-page .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 10px 40px 40px 40px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
}

.doc-forget-password-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.doc-forget-password-page .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.doc-forget-password-page form.text-form {
    text-align: left;
}

.doc-forget-password-page .form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.doc-forget-password-page .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    text-align: center;
}

.doc-forget-password-page .form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.doc-forget-password-page div.heading {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
}

/* end doctor forget password */



