@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* addNewPatientRecord */
.add-record {
    width: 450px;
    padding: 8% 0 0;
    margin: auto;
}

.add-record .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 10px 40px 40px 40px;
    text-align: left;
    border-style: solid;
    border-width: medium;
    border-color: #ff0000;
    overflow: scroll;
}

.add-record .form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-record .form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    height: 46px;
}

.add-record #buttonSubmit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ff0000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.add-record #buttonSubmit:hover {
    background: #e60000;
}

.add-record div.heading {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.add-record .column {
    float: left;
    width: 48%;
    padding: 2px;
}

.add-record .row:after {
    content: "";
    display: table;
    clear: both;
}
/* end addNewPatientRecord */


/* Doctor Sign up */
/*.doctor-sign-up {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.doctor-sign-up .form {
    position: absolute;
    left: 50%;
    top: 49%;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 0px 40px 40px 40px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
}

.doctor-sign-up form.text-form {
    text-align: left;
}

.doctor-sign-up .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.doctor-sign-up #submitButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.doctor-sign-up #submitButton:hover {
    background: #43A047;
}

.doctor-sign-up #submitButton:disabled {
    background: grey;
}

.doctor-sign-up .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 10px;
    text-align: center;
}

.doctor-sign-up .form .message a {
    color: #4CAF50;
    text-decoration: none;
}*/
/* end Doctor Sign up */

/* Patient Sign up */
.patient-signup-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.patient-signup-page .form {
    position: absolute;
    left: 50%;
    top: 49%;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 0px 40px 20px 40px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
}

.patient-signup-page form.text-form {
    text-align: left;
}

.patient-signup-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.patient-signup-page #submitButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.patient-signup-page #submitButton:hover {
    background: #43A047;
}

.patient-signup-page #submitButton:disabled {
    background: grey;
}

.patient-signup-page .form message {
    color: #b3b3b3;
    font-size: 10px;
    text-align: center;
}

.patient-signup-page .form message a {
    color: #4CAF50;
    text-decoration: none;
}
/* end Patient Sign up */

/* Patient Look up */
.patient-lookup-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.patient-lookup-page .topnav a.plu {
    background-color: #4CAF50;
    color: white;
}

.patient-lookup-page .form {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #FFFFFF;
    max-width: 380px;
    padding: 10px 40px 40px 40px;
    text-align: left;
}

.patient-lookup-page .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.patient-lookup-page form.text-form {
    text-align: left;
}

.patient-lookup-page .form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.patient-lookup-page div.heading {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
/* end Patient Look up */

/* doctor forget password */

.doc-forget-password-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.doc-forget-password-page .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 10px 40px 40px 40px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: gainsboro;
}

.doc-forget-password-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.doc-forget-password-page .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.doc-forget-password-page form.text-form {
    text-align: left;
}

.doc-forget-password-page .form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.doc-forget-password-page .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    text-align: center;
}

.doc-forget-password-page .form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.doc-forget-password-page div.heading {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
}

/* end doctor forget password */



