@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MLTHomeViewModel
@{
    ViewData["Title"] = "MLT Home";
}

@section NavButtons {
    <!-- L to R -->
    <a href="PatientLookUp" class="topnav-lbtn">Patient Look-Up</a>
    <a href="PatientSignUp" class="topnav-lbtn">New Patient Sign-Up</a>
    <!-- R to L-->
    <a href="Logout" class="topnav-rbtn">Logout</a>
    @*<a href="Home" class="topnav-rbtn">Dr. @ViewBag.DoctorName</a>*@
}

<div class="content-full">
    <h1>MLT Homepage</h1>
</div>