@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Records";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Home</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">@ViewBag.DoctorName</a>
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview">Overview</a>
        <!-- UPDATE HREF TO RECORDS PAGE -->
        <a href="PatientRecords" class="active">View Lab Tests</a>
    </div>
    <div class="sidebar-footer">
        <a href="PatientLookUp">Close</a>
    </div>
</div>

<div class="content">
    <div class="content-header card">
        <h1>@(Model.PatientMetadata.FirstName+" "+Model.PatientMetadata.LastName)</h1>
        <p class="no-bot-margin"><strong>PHN: </strong>@Model.PatientAsset.ID</p>
    </div>
    <div class="content-body">
        <div class="card col-sm-12 col-md-11 col-lg-10 col-xl-8 center">
            <div class="card-header">
                <h1>Lab Tests</h1>
                <nav class="nav nav-pills nav-fill tab">
                    <button class="nav-item mednet-link tablinks btn btn-flat" onclick="openTab(event, 'req')" id="defaultOpen">Requitions</button>
                    <button class="nav-item mednet-link tablinks btn btn-flat" onclick="openTab(event, 'res')">Results</button>
                </nav>
            </div>
            <div class="card-body">
                <div id="req" class="tabcontent">
                    <div class="medical-card card">
                        <div class="medical-header">
                            <div class="row no-bot-margin">
                                <div class="col-sm-6">
                                    <h3>
                                        Test Name
                                    </h3>
                                </div>
                                <div class="col-sm-6 right">
                                    <a class="btn btn-light">Download Requisition</a>
                                </div>
                            </div>
                        </div>
                        <div class="medical-body">
                           <p>Put test details here</p>
                           <a class="btn btn-outline-success">Upload Result</a>
                        </div>
                    </div>
                </div>
                <div id="res" class="tabcontent">
                    <div class="medical-card card">
                        <div class="medical-header">
                            <div class="row no-bot-margin">
                                <div class="col-sm-6">
                                    <h3>
                                        Test Name
                                    </h3>
                                </div>
                                <div class="col-sm-6 right">
                                    <a class="btn btn-light">Download Result</a>
                                </div>
                            </div>
                        </div>
                        <div class="medical-body">
                            <p>Put test details here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("defaultOpen").click();
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }</script>
}