<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- ~ 2GB -->
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- ~ 4GB -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
	<aspNetCore processPath="dotnet" arguments=".\MedNet.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
		<environmentVariables>
			<environmentVariable name="IPFS_PATH" value="C:\.csipfs" />
		</environmentVariables>
	</aspNetCore>
  </system.webServer>
</configuration>