@{
    ViewData["Title"] = "Feedback";
}
<style>

    .topnav .topnav-plu {
        display: none;
    }

    .topnav .topnav-rp {
        display: none;
    }

    .topnav .topnav-pp {
        display: none;
    }

    .topnav .topnav-pli {
        display: none;
    }

    .topnav .topnav-psu {
        display: none;
    }

    .topnav .topnav-logout {
        display: none;
    }
    </style>

<div class="feedback-page">
    <div class="form">
        <div class="heading">
            <p>Submit Feedback on MedNet</p>
        </div>
        <p>
            MedNet strives to bring the best centralized medical record browsing experience to healthcare professionals and patients around the world through its innovative blockchain implementation using BigChainDB. MedNet welcomes your feedback on its experience and services.
            <br> <br>Please tell us how we can improve!
        </p>
        <form class="text-form" action="/Home">
            <label>Name</label>
            <input type="text" placeholder="First Name, Last Name">
            <label>Email</label>
            <input type="text">
            <label>Feedback</label>
            <textarea class="form-control" rows="3" placeholder="Enter your feedback here"></textarea>
            <button>Submit</button>
        </form>
    </div>
</div>
