@{
    ViewData["Title"] = "Home Page";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                        </div>

                        <h3 class="profile-username text-center">Current User</h3>

                        <p class="text-muted text-center">Patient</p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>

                        <p class="text-muted">
                            8888 University Drive, Burnaby, British Columbia
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Age</strong>

                        <p class="text-muted">25</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Family Doctor</strong>

                        <p class="text-muted">Joshua Shercliffe</p>
                        <p class="text-muted">Fake Clinic</p>
                        <p class="text-muted">1234 Hastings Street</p>
                        <p class="text-muted">778-999-9999</p>

                        <hr>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">   
                        <h2>Patient Information</h2>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Prescriptions</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Prescription</th>
                                                <th>Quantity</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Simvastatin</td>
                                                <td>40mg/Daily</td>
                                                <td>11-7-2019</td>
                                            </tr>
                                            <tr>
                                                <td>Lisinopril </td>
                                                <td>5mg/Daily</td>
                                                <td>11-9-2019</td>
                                            </tr>
                                            <tr>
                                                <td>Levothyroxine</td>
                                                <td>0.05mg/Daily</td>
                                                <td>11-9-2018</td>
                                            </tr>
                                            <tr>
                                                <td>Lipitor </td>
                                                <td>30mg/Daily</td>
                                                <td>11-5-2018</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-header -->
                            </div>
                            <div class="card-columns d-flex">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Medical Conditions</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover text-nowrap">
                                            <tr>
                                                <td>High Colesterol</td>
                                            </tr>
                                            <tr>
                                                <td>Hyopthyroidism</td>
                                            </tr>
                                            <tr>
                                                <td>Coronavirus</td>
                                            </tr>
                                            <tr>
                                                <td>Pneumonia</td>
                                            </tr>
                                            <tr>
                                                <td>Tuberculosis</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /.card-header -->
                                </div>
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Allergies</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover text-nowrap">
                                            <tbody>
                                                <tr>
                                                    <td>High Colesterol</td>
                                                </tr>
                                                <tr>
                                                    <td>Hyopthyroidism</td>
                                                </tr>
                                                <tr>
                                                    <td>Coronavirus</td>
                                                </tr>
                                                <tr>
                                                    <td>Pneumonia</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-header -->
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->