@model DoctorLoginViewModel

@{
    ViewData["Title"] = "Welcome";
}

@section NavButtons {
    <!-- L to R -->
     <a href="/Home" class="topnav-lbtn topnav-first active">Home</a> 
}


    <div class="container">
        <div class="jumbotron text-center" style="background:transparent">
            <div class="big-text">Welcome to MedNet</div>
            <h3><em>Your Health, Your Data.</em></h3>
            <br />
            <p>To get started, please select your user type to begin.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Patient User</h1>
                            <p class="card-text">To view your personal medical information. If you are looking to sign up for MedNet, please contact a registered healthcare provider.</p>
                            <a href="/Patients/Login" class="btn btn-reg">Continue</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Healthcare Provider</h1>
                            <p class="card-text">To add, and modify a patient's medical information, please select your profession below.</p>
                            <br />
                                <a href="/Doctors/Login" class="btn btn-reg" style="margin-bottom: 5px">Doctor</a>
                                <a href="/MLTs/Login" class="btn btn-reg" style="margin-bottom: 5px">Lab Technician</a>
                                <a href="/Pharmacists/Login" class="btn btn-reg" style="margin-bottom: 5px">Pharmacist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

