@{
    ViewData["Title"] = "Logout";
}

<div>
    <p align="right">
        <button class="green-buttons-top" onclick="window.location.href = '/Home';">Back to Home</button>
    </p>
</div>

<div class="login-page">
    <div class="form">
        <div class="heading">
            <p>You have successfully logged out.</p>
        </div>
    </div>
</div>