@{
    ViewData["Title"] = "Home Page";
}
<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }
    .topnav a.plu {
        background-color: #4CAF50;
        color: white;
    }

    .form {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background: #FFFFFF;
        max-width: 380px;
        padding: 10px 40px 40px 40px;
        text-align: left;
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
    }

    form.login-form {
        text-align: left;
    }

    .form button:hover, .form button:active, .form button:focus {
        background: #43A047;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        text-align: center;
    }

    .form .message a {
        color: #4CAF50;
        text-decoration: none;
    }

    div.heading {
        font-size: 25px;
        line-height: 30px;
        height: 30px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 400px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

</style>

<div class="login-page">
    <div class="form">
        <div class="heading">
            <p>Patient Look-Up</p>
        </div>
        <p>Enter your details below retrieve patient information.</p>
        <form class="login-form" action="/Home/PatientOverview">
            <div class="tooltip">
                <label>Patient PHN:</label>
                <span class="tooltiptext">10 digit Personal Health Number can be found on patient's CareCard/BC Services Card</span>
            </div>
            <input type="text" id="phn" name="phn" placeholder="XXXX-XXX-XXX" title="10 digit Personal Health Number can be found on patient's CareCard/BC Services Card" />
            <div class="tooltip">
                <label>Patient Keyword:</label>
                <span class="tooltiptext">Patient's identification pass phrase, something easy to remember like place of birth/mother's maiden name that was created during Sign-Up</span>
            </div>
            <input type="password" id="keyword" name="keyword" placeholder="Keyword" title="Patient's identification pass phrase, something easy to remember like place of birth/mother's maiden name that was created during Sign-Up" />
            <button>Submit</button>
        </form>
    </div>
</div>

<script type="text/javascript">

</script>


