@{
    ViewData["Title"] = "Email me";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Submit Feedback on MedNet</h1>
                <p>
                    <br> MedNet strives to bring the best centralized medical record browsing experience to healthcare professionals and patients around the world through its innovative blockchain implementation using BigChainDB. MedNet welcomes your feedback on its experience and services.
                    <br> <br>Please tell us how we can improve!
                </p>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Feedback Form</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="First Name, Last Name">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Feedback</label>
                                <textarea class="form-control" rows="3" placeholder="Enter your feedback here"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Email myself a copy of this feedback! </label>
                                </div>
                            </div>

                            <div class="card-footer" id="submit">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        </div>