@{
    ViewData["Title"] = "Home Page";
}
<style>

    .topnav .topnav-rp {
        background-color: #4CAF50;
        color: white;
    }

    .topnav .topnav-home {
        display: none;
    }

    .topnav .topnav-pp {
        display: none;
    }

    .topnav .topnav-pli {
        display: none;
    }

    .topnav .topnav-psu {
        display: none;
    }
</style>

<div class="recent-patients">
    <div class="form">
        <div class="heading">
            <p>Your 10 most recent patients:</p>
        </div>
        <br />
        <table style="width:100%">
        </table>
    </div>
</div>

<script type="text/javascript">
    let patients = [
        { Name: "Kavya Bohra", PHN: 1658381658 },
        { Name: "Aayush Malhotra", PHN: 1638541658 },
        { Name: "Ashmit Ahuja", PHN: 1520138658 },
        { Name: "Jacob Wong", PHN: 1592165388 },
        { Name: "Josh Shercliffe", PHN: 1738163858 },
        { Name: "Kavya Bohra 2", PHN: 1658165388 },
        { Name: "Aayush Malhotra 2", PHN: 1654165838 },
        { Name: "Ashmit Ahuja 2", PHN: 1520165838 },
        { Name: "Jacob Wong 2", PHN: 1592165838 },
        { Name: "Josh Shercliffe 2", PHN: 1738165838 }
    ];

    function generateTableHead(table, data) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
            let th = document.createElement("th");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);
        }
    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            }
        }
    }

    let table = document.querySelector("table");
    let data = Object.keys(patients[0]);
    generateTableHead(table, data);
    generateTable(table, patients);
</script>


