@{
    ViewData["Title"] = "TestFingerprintButton";
}

<h1>TestFingerprintButton</h1>

<button id="TestFingerprint" onclick="window.location.href='/Home/TriggerFingerprint'">Test</button>
<button id="fpPopup" onclick="window.location.href='/Home/fpPopup'">Popup Window</button>
@if (Model != null && Model.message != null )
{
    <p>@Model.message</p>
}
