@model PatientEditProfileViewModel
@{
    ViewData["Title"] = "Patient Edit Profile";
}

@section NavButtons {
    <a href="PatientOverview" class="topnav-lbtn topnav-first">Home</a>
    <a href="Logout" class="topnav-rbtn">Logout</a>

    <a href="javascript:void(0);" class="icon" onclick="resizeFunction()">
        <i class="fa fa-bars"></i>
    </a>
}

<body>
    <div class="content-full">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>General Information</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <label>Age:</label>
                            <label>Date of Birth:</label>
                            <label>Email:</label>
                            <label>Address:</label>
                            <label>Phone:</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Emergency Contact</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- add multiple items to the list-->
                            <label>Name:</label>
                            <label>Phone:</label>
                            <label>Address:</label>
                            <label>Relationship:</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Allergies</h3>
                    </div>
                    <div class="card-body">
                        <!-- Add single elements to list-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Daily Medications</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- Add single elements to list -->
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Medical History</h3>
                    </div>
                    <div class="card-body">
                        <!-- Add single elements to list-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
